# ATC coding rules - https://github.com/atc-net/atc-coding-rules
# Version: 1.0.0
# Updated: 03-06-2024
# Location: sample
# Distribution: DotNet9
# Inspired by: https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options

##########################################
# Code Analyzers Rules
##########################################
[*.{cs,csx,cake}]

# AsyncFixer
# http://www.asyncfixer.com


# Asyncify
# https://github.com/hvanbakel/Asyncify-CSharp


# Meziantou
# https://www.meziantou.net/enforcing-asynchronous-code-good-practices-using-a-roslyn-analyzer.htm


# Microsoft - Code Analysis
# https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/quality-rules/


# Microsoft - Compiler Errors
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/


# Microsoft - FxCop
# https://github.com/dotnet/roslyn-analyzers


# SecurityCodeScan
# https://security-code-scan.github.io/


# StyleCop
# https://github.com/DotNetAnalyzers/StyleCopAnalyzers

# SonarAnalyzer.CSharp
# https://rules.sonarsource.com/csharp

dotnet_diagnostic.S1075.severity = none             # Refactor your code not to use hardcoded absolute paths or URIs

##########################################
# Custom - Code Analyzers Rules
##########################################

dotnet_diagnostic.CA1062.severity = none            # In externally visible method
dotnet_diagnostic.CA1056.severity = none            #
dotnet_diagnostic.CA1303.severity = none            #
dotnet_diagnostic.CA1716.severity = none            # Rename virtual/interface member
dotnet_diagnostic.CA1848.severity = none            # For improved performance
dotnet_diagnostic.CA1819.severity = none            # Properties should not return arrays

dotnet_diagnostic.MA0084.severity = none            # Local variable 'smtpHost' should not hide field

dotnet_diagnostic.SA1611.severity = none            # The documentation for parameter 'pet' is missing
dotnet_diagnostic.SA1615.severity = none            # Element return value should be documented

dotnet_diagnostic.S6580.severity = none             # Use a format provider when parsing date and time.
dotnet_diagnostic.S6667.severity = none             # Logging in a catch clause should pass the caught exception as a parameter.
dotnet_diagnostic.S6672.severity = none             # Update this logger to use its enclosing type